body {
	font-size: small;
	font-family: "Verdana", Sans;
	color:#000000;
	background:#FFFFFF; 
	width: 700px;
}

.main {
	margin-left: 10px;
	width: 680px;
}

a {
	color:#000000;
	background:inherit;
	text-decoration:none;
}

a:hover {
	color:#000000;
	background:inherit;
	text-decoration:none;
}


h2 { 
	font-size: medium; 
	background:#F0F0F0;
}

.title {
	font-size: large; 
	color: #FC7901;
	background: #000000;
	letter-spacing: 5px;
	word-spacing: 1px;
	padding: 10px;
}

hr {
	height: 1px;
	color: #c0c0c0;
}

p {
	word-wrap: break-word;
	background:#FFFFFF;
	padding: 1px 2px;
	text-align:justify;
}

.entry {
	font-size: small;
	word-wrap: break-word;
	background:#F0F0F0;
	padding: 1px 2px;
	text-align:justify;
}

.entryind {
	font-size: small;
	text-indent:50px;
	word-wrap: break-word;
	background:#F0F0F0;
	padding: 1px 2px;
	text-align:justify;
}

.timedate {
	font-size: x-small;
	background:#FFFFFF;
	text-align: right;
	padding:  6px;
}

.menu {
	background:#BFBFBF;
	color:#111111;
	text-align:justify;
	padding: 5px;
}

.menusecond {
	background:#33CCFF;
	color:#000000;
	text-align:justify;
	padding: 5px;
}

.footer {
	text-align:right;
}

.box { 
	border: 1px 
	solid #cecece; 
	padding: 4px 15px; 
	margin: 1px;
	text-align:right;
}

.count {
	font-size: medium;
	font-family: "Verdana", Sans;
}

.error {
	font-size: medium;
	font-family: "Verdana", Sans;
	color: red;
}

.containerlight {
	position: relative;
	height: 40px;
	background:#F0F0F0;
}

.containerdark {
	position: relative;
	height: 40px;
	background:#D0D0D0;
}

.left-element {
	position: absolute;
	left: 0;
	width: 80%;
}

.right-element {
	position: absolute;
	right: 0;
	width: 20%;
	text-align: right;
}
